./CS5200\ -\ Database\ Management\ System/Practicum1/.Rproj.user
./CS5200\ -\ Database\ Management\ System/Practicum1/.RData
./CS5200\ -\ Database\ Management\ System/Practicum1/.Rhistory
./CS5200\ -\ Database\ Management\ System/Practicum1/TamVincent_Practicum1_BirdStrikes.nb.html
./CS5200\ -\ Database\ Management\ System/Practicum1/Practicum1.Rproj
.DS_Store